* {
    margin: 0%;
}

body {
    background-color: rgba(132, 130, 151, 0.884);

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

}

.title {
    text-align: center;
    padding: 25px 0px;
    width: 100%;
    background-color: #070707;
    color: #fff;
}





.form {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forText {
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#inputText {
    padding: 10px;

    width: 98%;
    background-color: #dddddd5d;
    min-height: 100px;
}

#banner-title {
    margin-left: 20px;
    margin-bottom: 20px;
    color: #242424;
}

.forChoice {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    margin-bottom: 20px;
}

.choice {
    margin: 20px;
    background-color: rgba(132, 130, 151, 0.884);
    width: auto;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    padding: 5px 0px;
}

label {
    font-size: 20px;
    font-weight: 200;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    padding: 5px 30px;
    width: 100%;
}

input[type="radio"] {
    display: none;

}

input[type="radio"]:checked~label {
    background-color: rgb(168, 156, 233);

}


.submit {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover {
    background-color: #646262;
}

.result {
    margin-top: 20px;
    padding: 20px;
    max-height: 300px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

#result-text {
    width: 98%;
    min-height: 200px;
    margin-right: 200px;
    max-height: 200px;
    padding: 10px;
    font-family: monospace;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: auto;
}

#result-text::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #525252;
}

#result-text::-webkit-scrollbar-thumb {
    background-color: rgb(168, 156, 233);
    border-radius: 10px;
}






@media (max-width : 800px) {
    .title {
        font-size: medium;
    }

    .text {
        font-size: small;
    }

    .submit {
        font-size: small;
    }

    .forChoice {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

   
    
    .choice {
        margin: 20px;
        background-color: rgba(132, 130, 151, 0.884);
        width: auto;
        border-radius: 20px;
        cursor: pointer;
        text-align: center;

        label {
            font-size: medium;
            font-weight: 200;
            border-radius: 20px;
            cursor: pointer;
            text-align: center;
            padding: 5px 30px;
        }
    }

    

    #inputText,
    #result-text {
        width: 95%;
    }

}