*{
    margin: 0%;
}
body{
    background-color: rgba(126, 109, 109, 0.445);
    
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    
}
.title {
    text-align: center;
    padding: 25px 0px;
    width: 100%;
    background-color: #070707;
    color: #fff;
}
label{
    font-size: 20px;
    font-weight: bold;
    margin: 20px ;
    background-color:rgba(126, 109, 109, 0.445);
    
    border-radius: 20px;
    cursor: pointer;
    
}

input[type="radio"] {
    display: none;
   
  }

input[type="radio"]:checked ~ label{
    background-color:rgba(126, 109, 109, 0.2);
}


.form {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forText {
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#inputText{
    padding: 10px;
   
    width: 98%;
    background-color: #dddddd5d;
    min-height: 100px;
}

#banner-title {
    margin-left: 20px;
    margin-bottom: 20px;
    color: #242424;
}

.forChoice {
   display: flex;
   justify-content: space-evenly;
   justify-items: center;
   margin-bottom: 20px;
}

.submit {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover {
    background-color: #444444;
}

.result {
    margin-top: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

#result-text {
     width: 98%;
     min-height: 200px;

    padding: 10px;
    font-family: monospace;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow-x: auto;
    overflow-y: auto;
}





@media (max-width : 600px) {
    .title{
        font-size: medium;
    }  
    .text{
        font-size: small;
    }

    .submit{
        font-size: small;
    }

    .forChoice {

        display: block;
    }
    .choice{
       width: 50%;
     margin: 15px 0px;
   
     label{
        width: 300px;
        font-size: small;
        
    }
    }

    #inputText , #result-text{
        width: 95%;
    }
    
}