<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>ASCII-ART-WEB</title>

</head>

<body>
    <header>
        <h1 class="title">ASCII Art Generator</h1>
    </header>
    <main>
        <form class="form"  action="/ascii-art" method="POST">
            <div class="forText">
                <h2>Enter Text :</h2>
                <textarea  id="inputText" name="inputText"placeholder="Enter your text here..."></textarea>
            </div>
             <h2 id="banner-title">Choose a banner :</h2>
            <div class="forChoice">
               
                <label class="lbl">
                    <input type="radio" name="choice" value="standard" checked>
                    standard
                </label>
                <label class="lbl">
                    <input type="radio" name="choice" value="shadow">
                    shadow
                </label>
                <label class="lbl">
                    <input type="radio" name="choice" value="thinkertoy">
                    thinkertoy
                </label>
            </div>
            <button class="submit">Generate ASCII Art</button>
            <div class="result">
                <textarea id="result-text" readonly>{{ .Message}}</textarea>
            </div>
        </form>
    </main>












</body>

</html>